$m: 0; // margin

*, *:before, *:after {
	box-sizing: border-box;
}

nav {
	position: overflow;
	width: 100%;
	top: 0;
	padding: 16px;
	z-index: 100;
	.up {
		font: bold 14px/1 sans-serif;
		color: white;
		width: 92px;
		padding: 8px;
		background-color: hsla(350,80,50,.8);
		float: left;
		cursor: pointer;
		margin-left: 30px;
		&:hover {
			background-color: hsla(350,80,40,.8);
		}
	}
}
.feature {
	position: relative;
	width: calc(100% - #{$m} * 2 * 1px);
	height: calc(100% - #{$m} * 2 * 1px);
	margin: $m * 1px;
	//background: #aaa;
	overflow: hidden;
}

.vals {
	display: inline;
	font-family: sans-serif;
	color: hsla(0,0,0,.4);
	//white-space: nowrap;
	position: absolute !important;
	font-size: 10px;
	right: 0 !important;
	bottom: 0 !important;
	transform: translateX(-20%) translateY(-0%);

	/* text-align:right; */
}
.node {
	position: absolute;
	background: transparent url('') no-repeat 50% / cover;
	/* border: 1px sold; */
	overflow: hidden;
	opacity: 0.99;
	transition: opacity .8s;
	/* margin: 10; */
	cursor: pointer;
	box-shadow:0 0 8px black;
	.label {
		display: inline;
		font-family: sans-serif;
		color: hsla(0,0,100,.6);
		//white-space: nowrap;
		position: absolute;
		top: 0%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: color .4s, opacity .8s, filter .8s;
	}
	&.hide { // zoom in
		opacity: 0;
		pointer-events: none;
		.label {
			filter: blur(10px);
		}
	}
	&:hover {
		//background-color: #222 !important;
		//opacity: 1;
		.label {
			color: hsla(0,0,100,1);
		}
	}
	&.level-0 {
		z-index: 8;
		font-size: 10vmin;
		display: none;
	}
	&.level-1 {
		z-index: 7;
		font-size: 8vmin;
	}
	&.level-2 {
		z-index: 6;
		font-size: 5vmin;
	}
	&.level-3 {
		z-index: 5;
		font-size: 2.5vmin;
	}
	&.level-4 {
		z-index: 4;
		font-size: 2.5vmin;
	}
	&.level-5 {
		z-index: 3;
		font-size: 2.5vmin;
	}
	&.level-6 {
		z-index: 2;
		font-size: 2.5vmin;
	}
	&.level-7 {
		z-index: 1;
		font-size: 2.5vmin;
	}
}

div.tooltip {
    position: absolute;
    text-align: center;
    /* width: 160px;
    height: 40px; */
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    /* border-radius: 8px; */
    pointer-events: none;
}

.guide{
	position: relative;
	margin-left: 50px !important;
	font-family: sans-serif;
	letter-spacing: 1px;
	word-spacing: 0.6px;
	font-weight: 400 !important;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center !important;
}

.nodeSubtree{
	position: absolute;
	background: transparent url('') no-repeat 50% / cover;
	/* border: 1px sold; */
	overflow: hidden;
	opacity: 0.99;
	transition: opacity .8s;
	/* margin: 10; */
	cursor: pointer;
	box-shadow:0 0 8px black;
	.label {
		display: inline;
		font-family: sans-serif;
		color: hsla(0,0,100,.6);
		//white-space: nowrap;
		position: absolute;
		top: 0%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: color .4s, opacity .8s, filter .8s;
	}
}

.mover{
	border:1px solid black;
	text-align: left;
}
